/*Custom CSS for Haven Site */
html, body, p, ul, li, div, tr, td {
    font-family: "Arial",sans-serif;
    font-size: 14px;
}
.full-width-no-padding {
	padding-right: 0px;
	padding-left: 0px;
}
.row {
	margin-right: 0px;
	margin-left: 0px;
}

/* TOP FOLD CSS */
.inner-container-fold {
    max-width: 600px;
    float: right;
}
.inner-container-right {
    max-width: 600px;
    margin-left: 100px;
}
.left-fold {
	background: #1dc5eb;
	padding-top: 20px
}
.right-fold {
	background: #f5f5f5;
}
.logo {
	max-width:200px;
}
h1.lg-header {
    color: #fff;
    font-size: 75px;
    line-height: 0.94;
    margin-top: 150px;
    margin-bottom: 35px;
}
h2.lg-subheader {
    color: #fff;
    font-size: 33px;
    padding-bottom: 62px;
    line-height: 1.4;
}
h1.title-fold {
    color: #40c6ec;
    padding-bottom: 20px;
    border-bottom: solid 2px #9b9b9b;
    margin-top: 125px;
    font-size: 28px;
}
ul.news {
    margin-top: 30px;
    padding-left: 0px;
    max-width: 770px;
}
li.blog-list {
    list-style: none;
    font-size: 16px;
}
.blog-list a {
    color: #5b5b5b;
    text-decoration: none;
    width: 100%;
    display: block;
    background: url(../images/arrow-icon.png) right no-repeat;
    background-size: 20px;
    padding: 12px 0px;
    transition:0.5s;
	-webkit-transition:0.5s;
}
.blog-list a:hover {
	background-color:#ececec;
	transition:0.5s;
	-webkit-transition:0.5s;
}

/* NAVIGATION CSS */
ul.navbar-nav {
    margin: 0 auto;
    max-width: fit-content;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 15px;
    padding: 1.5rem 1.5rem;
    text-align: center;
}
.responsive-menu {
    font-size: 15px;
    padding: 1.5rem 1.5rem;
    text-align: center;
    border: none;
    background: transparent;
    width: 100%;
}
.bg-lightgrey {
    background-color: #fbfbfb!important;
    width: 100%;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(64, 198, 236);
    font-weight: 600;
}

/* CONTENT CSS */
.blue {
	background: #1dc5eb;
}
.gray {
	background: #f5f5f5
}
.dark-gray {
	background: #2d2d2d;
}
.inner-container-4 {
    max-width: 400px;
    padding: 70px 50px;
}
.bg-holder {
	background: url(../images/video-img.png);
	background-size: cover;
	background-position: right top;
}
.white {
	color:#fff;
}
.title {
    font-size: 34px;
    font-weight: 100;
}
a.custom-button {
    color: #fff;
    border: solid 1px;
    padding: 6px 60px 6px 10px;
    background: url(../images/white-arrow.png)no-repeat;
    background-position: right center;
    background-size: 37px;
    margin-top: 35px;
    display:block;
    text-decoration: none;
    max-width: 300px;
}
.inner-container-7 {
    max-width: 750px;
    padding: 70px 0px;
    float:right;
    padding-right: 100px;
    padding-left: 20px
}
.submit-button {
	float: right;
	background:#fff !important;
	color:#1dc5eb !important;
	border: none;
	border-radius: 0;
	font-weight: 600;
	padding:10px;
}
.form-control {
    background: transparent;
    border: solid 1px #fff;
    color: #fff;
    border-radius: 0;
}
::placeholder {
  color: #fff !important;
}
.form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
textarea.form-control {
    height: 150px;
}
select.form-control {
    color: #fff !important;
    background: #1dc5eb;
}
.form-control option {
	color: #000 !important;
}
.inner-container-5 {
    padding: 70px 0px;
    padding-left: 50px;
    max-width: 600px;
}

.contact-us {
	padding-left: 0;
}
.contact-us li {
    list-style: none;
    padding: 10px 10px 10px 70px;
    font-weight: bold;
    color: #5b5b5b;
    background-size: 35px;
    background-position: left center;
}
.adviser {
	background: url(../images/location-icon.png)no-repeat;
}
.accountant {
	background: url(../images/talk-icon.png)no-repeat;
}
.mortgage {
	background: url(../images/mortgage-icon.png)no-repeat;
}
.tel {
	background: url(../images/tel-icon.png)no-repeat;
}
.emailad {
	background: url(../images/email-icon.png)no-repeat;
}
.fb {
	background: url(../images/fb-icon.jpg)no-repeat;
}
/* Font Margins */
.sm-margin {
 margin-bottom: 10px
}
.lg-margin {
	margin-bottom: 30px;
}
.no-margin {
	margin-top:0 !important;
}
.sm-padding {
	padding: 30px 0px
}
.sign-uptxt {
	margin-top: 10px;margin-bottom:0px;text-align: right;margin-right: 15px
}
.btn-primary {
    color: #fff;
    background-color: #1dc5eb;
    border-color: transparent;
    border-radius: 0;
    padding: 6px 20px
}
.bottom-hr {
	border-bottom: solid 1px #5f5f5f;
}
.footer-logo {
	padding: 30px 0px;
}
.logo-bottom {
    max-width: 100px;
    margin: 0 auto;
    display: block;
}
.footer-nav .nav-link {
    font-size: 15px;
    padding: .5rem 1.5rem !important;
    color: #fff !important;
}
.container.copyright {
    padding: 10px;
    border-top: solid 1px #5f5f5f;
}
/* Scroll Fixed Nav */
#top-nav {
	z-index: 99999;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .left-fold {
  padding-top: 102px;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


/* Mobile Responsive */


@media screen and (max-width: 1367px) {
	.inner-container-7 {
    max-width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    float: none;
}
}

@media screen and (max-width: 992px) {
h2.lg-subheader {
    font-size: 24px;
}
.responsive-menu {
	display: block !important;
}
#top-nav .navbar-nav {
	display: none;
}
#top-nav {
	position: fixed;;
	top:0px;
}
.container-fluid.full-width-no-padding{
	margin-top: 75px;
}
}

@media screen and (max-width: 852px){
	.col.col-md-6 {
    max-width: 100%;
    width: 100%;
    flex: 100%;
}
.inner-container-fold {
    max-width: 100%;
    float: none;
}
h1.lg-header {
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
}
h1.title-fold {
    margin-top: 50px;
}
.right-fold {
	padding-bottom: 50px;
}
.inner-container-right {
    max-width: 600px;
    margin: 0 auto;
}
.col-md-8 {
    flex: 100%;
    max-width: 100%;
    height: 360px;
}
.col.col-md-4 {
    flex: 100%;
    max-width: 100%;
}
.inner-container-4 {
    max-width: 100%;
}
.col.col-md-7 {
    max-width: 100%;
    flex: 100%;
}
.col.col-md-5 {
    max-width: 100%;
    flex: 100%;
}
.inner-container-5 {
    padding: 70px 20px;
    padding-left: 20px;
    max-width: 600px;
    margin: 0 auto;
}
p.white.sign-uptxt {
    margin-top: 0;
}
.container.copyright p {
    text-align: center !important;
}
}
@media screen and (max-width: 768px) {
	p.white.sign-uptxt {
    text-align: center;
    margin-bottom: 10px;
}
.form-control {
    margin-bottom: 10px;
}
button.btn.btn-primary {
    float: none;
    margin: 0 auto;
    display: block;
    max-width: 400px;
    width: 100%;
}
.inner-container-7 {
    padding-right: 50px;
    padding-left: 50px;

}
img.logo {
    margin: 0 auto;
    display: block;
}
}